# MongoDB
MONGO_ROOT_USER="admin"
MONGO_ROOT_PASSWORD="adminpassword"
MONGO_DATABASE="recipes"
MONGO_PORT=27017
MONGO_URI="mongodb://admin:adminpassword@localhost:27017/recipes?authSource=admin"

# Mongo Express (Web UI)
MONGO_EXPRESS_PORT=8081
MONGO_EXPRESS_USER="admin"
MONGO_EXPRESS_PASSWORD="pass"
